@media (max-width: 950px) {
    .navigation {
        display: none;
    }
    .header-buttons {
        display: none;
    }
    .burger-wraper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}